
<div class="panel radius">
  <div class="row">
    <div class="small-12 text-center">
      <h1>Sign in</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="small-6 small-centered columns">
        <div class="field">
         <div><%= f.label :email %><br />
            <%= f.email_field :email, :autofocus => true %></div> 
        </div>
      </div>
      <div class="small-6 small-centered columns">
        <div class="field">
         <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>
        </div>
      </div>
      <div class="small-6 small-centered columns">
        <div class="field">
          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end %>
        </div>
      </div>
      <div class="actions">
          <%= f.submit 'Submit', class: 'button' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
